* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: auto;
}
h1 {
  text-align: center;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
}
.list ul {
  list-style: none;
}
.list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.list ul li:hover {
  background: rgba(95, 95, 95, 0.1);
}
.edit,
.delete {
  height: 30px;
  width: 40px;
  border: none;
}
.edit {
  background: rgb(0, 255, 89);
}
.delete {
  background: rgb(255, 34, 0);
}
.add {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 70%;
  top: 70%;
  background: rgb(0, 179, 255);
}
input[type="checkbox"] {
  accent-color: #00b894; /* your color */
}

.addTaskModal {
  background: red;
  position: absolute;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* center exactly */
}

.addTaskModal h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
}
.addTaskModal input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px black solid;
    outline: none;
    padding-left: 10px;
    margin-bottom: 30px;
}
.newNoteButtons {
    display: flex;
    justify-content: space-between;
}
.newNoteButtons .cancel, .apply {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cancel {
    border: 2px violet solid;
    background: white;
    color: violet;
}
.apply {
    border: 2px violet solid;
    color: white;
    background: violet;
}
.addTaskWindow {
  backdrop-filter: blur(3px);
  height: 100vh;
  z-index: 99;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center exactly */
}